.logo {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.logo-elements {
  display: flex;
  align-items: center;
}

.ul-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  color: #6d396b;
  font-weight: bold;
  font-family: 'Roboto';
}

.nav-links {
  text-decoration: none;
  margin-right: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
